/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'billyregular';
  src: url("../fonts/billy-webfont.eot");
  src: url("../fonts/billy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/billy-webfont.woff") format("woff"), url("../fonts/billy-webfont.ttf") format("truetype"), url("../fonts/billy-webfont.svg#billyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'billyregular';
  src: url("../fonts/billy-webfont.eot");
  src: url("../fonts/billy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/billy-webfont.woff") format("woff"), url("../fonts/billy-webfont.ttf") format("truetype"), url("../fonts/billy-webfont.svg#billyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@keyframes spin {
  /* line 19, sass/animation.scss */
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 20, sass/animation.scss */
  50% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transform: translate(30, 50);
    -moz-transform: translate(30, 50);
    -ms-transform: translate(30, 50);
    -o-transform: translate(30, 50);
    transform: translate(30, 50);
  }

  /* line 24, sass/animation.scss */
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'billyregular';
  src: url("../fonts/billy-webfont.eot");
  src: url("../fonts/billy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/billy-webfont.woff") format("woff"), url("../fonts/billy-webfont.ttf") format("truetype"), url("../fonts/billy-webfont.svg#billyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 6, sass/txt.scss */
h1 {
  font-size: 48px !important;
}

/* line 10, sass/txt.scss */
h2 {
  font-size: 48px !important;
  margin-bottom: 20px;
}

/* line 15, sass/txt.scss */
.txt-sub {
  font-size: 21px;
}

/* line 19, sass/txt.scss */
.txt-shadow-green {
  text-shadow: 2px 2px 2px #3c777f;
}

/* line 23, sass/txt.scss */
.txt-title {
  font-size: 36px;
  color: #c35154;
  text-align: center;
  margin-bottom: 20px;
}

/* line 30, sass/txt.scss */
.txt-title-ans {
  font-size: 48px;
  color: #c35154;
  text-align: center;
  margin-bottom: 20px;
}

/* line 37, sass/txt.scss */
.txt-ques {
  font-size: 21px;
  color: black;
  text-align: center;
}

/* line 43, sass/txt.scss */
.txt-red {
  color: #c35154;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'billyregular';
  src: url("../fonts/billy-webfont.eot");
  src: url("../fonts/billy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/billy-webfont.woff") format("woff"), url("../fonts/billy-webfont.ttf") format("truetype"), url("../fonts/billy-webfont.svg#billyregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 8, sass/form.scss */
.inputs {
  margin-top: 20px;
}

/* line 12, sass/form.scss */
input {
  width: 190px;
  height: 25px;
  font-size: 21px;
  color: #322f2b;
  border: 0px;
  margin-left: -5px;
  margin-top: 4px;
  font-family: billyregular;
}

/* line 23, sass/form.scss */
.inputimg {
  background: url("../imgs/forminput.png") 0 0 no-repeat;
  width: 224px;
  height: 54px;
  padding-left: -10px;
  padding-top: 9px;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* line 35, sass/form.scss */
input[type="checkbox"] {
  display: none;
}

/* line 38, sass/form.scss */
input[type="checkbox"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../imgs/checkbox.png) left top no-repeat;
  cursor: pointer;
}

/* line 47, sass/form.scss */
input[type="checkbox"]:checked + label span {
  background: url(../imgs/checkbox.png) -30px top no-repeat;
}

/* line 51, sass/form.scss */
#valid {
  position: absolute;
  top: 412px;
  left: 422px;
  font-size: 16px;
  color: #c35154;
}

/* line 59, sass/form.scss */
.inputL {
  float: left;
}

/* line 63, sass/form.scss */
.inputR {
  float: left;
}

/* line 67, sass/form.scss */
#terms {
  position: absolute;
  text-align: right;
  font-size: 18px;
  right: 130px;
  margin-top: -10px;
}

/* line 76, sass/form.scss */
#quitPop {
  background: #e4e4e4;
  width: 630px;
  min-height: 254px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -315px;
  margin-top: -120px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: #322f2b 5px 5px 12px;
  -moz-box-shadow: #322f2b 5px 5px 12px;
  box-shadow: #322f2b 5px 5px 12px;
  display: none;
  z-index: 35;
}

/* line 90, sass/form.scss */
.pop-info {
  width: 480px;
  margin: auto;
  margin-top: 20px;
  font-size: 21px;
  padding-left: 20px;
}

/* line 98, sass/form.scss */
.btn-quit-option {
  background: url("../imgs/btn-quitinfo.png") 0 0 no-repeat;
  width: 145px;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 21px;
  line-height: 60px;
  margin-top: 20px;
}

/* line 109, sass/form.scss */
#quitNo {
  position: absolute;
  left: 140px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 116, sass/form.scss */
#quitNo:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff3da;
}

/* line 121, sass/form.scss */
#quitYes {
  position: absolute;
  left: 340px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 128, sass/form.scss */
#quitYes:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff3da;
}

/* line 135, sass/form.scss */
#termsPop {
  background: #e4e4e4;
  width: 630px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -315px;
  margin-top: -180px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: #322f2b 5px 5px 12px;
  -moz-box-shadow: #322f2b 5px 5px 12px;
  box-shadow: #322f2b 5px 5px 12px;
  display: none;
  z-index: 35;
}

/* line 149, sass/form.scss */
#btnClose {
  position: absolute;
  left: 230px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 156, sass/form.scss */
#btnClose:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff3da;
}

/* line 161, sass/form.scss */
.scrollarea {
  height: 190px;
  overflow-y: scroll;
}

/* line 10, sass/kids.scss */
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: billyregular;
  font-size: 21px;
  overflow: hidden;
}

/* line 21, sass/kids.scss */
#wrapper {
  width: 100%;
  height: 2000px;
  overflow: hidden;
  background: url("../imgs/blue.png");
}

/* line 28, sass/kids.scss */
#welcome, #thankyou {
  width: 980px;
  left: 50%;
  top: 50%;
  margin-left: -490px;
  margin-top: -230px;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
  display: inline;
}

/* line 41, sass/kids.scss */
#thankyou {
  display: none;
}

/* line 45, sass/kids.scss */
#spiral {
  background: url("../imgs/spiral.png") 0 0 no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 2000px;
  height: 2000px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -950px;
  margin-left: -1000px;
  opacity: 1;
}

/* line 62, sass/kids.scss */
#intro {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* line 75, sass/kids.scss */
#Q1, #Q2, #Q3 {
  width: 668px;
  height: 485px;
  left: 50%;
  top: 50%;
  margin-left: -334px;
  margin-top: -262px;
  position: absolute;
  z-index: 11;
  font-family: billyregular;
}

/* line 89, sass/kids.scss */
#A1, #A2, #A3, #formBox {
  background: url("../imgs/resultBG.png") 0 0 no-repeat;
  width: 767px;
  height: 560px;
  position: absolute;
  z-index: 12;
  left: 50%;
  top: 50%;
  margin-left: -380px;
  margin-top: -340px;
  font-family: billyregular;
  text-align: center;
}

/* line 108, sass/kids.scss */
.anserText {
  width: 480px;
  margin: auto;
  margin-top: 180px;
  font-size: 21px;
  padding-left: 20px;
}

/* line 116, sass/kids.scss */
.answer-info {
  float: left;
  width: 250px;
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  margin-left: 20px;
}

/* line 125, sass/kids.scss */
.answer-foot {
  width: 450px;
  margin: auto;
  font-size: 21px;
  padding-left: 20px;
  color: #322f2b;
}

/* line 133, sass/kids.scss */
.percentBall {
  background: url("../imgs/percentball.png") 0 0 no-repeat;
  background-position: 16px 0px;
  width: 161px;
  height: 102px;
  text-align: center;
  color: white;
  font-size: 70px;
  padding-top: 40px;
  float: left;
}

/* line 146, sass/kids.scss */
.bookL {
  width: 250px;
  float: left;
  margin-top: 150px;
  margin-left: 45px;
}

/* line 152, sass/kids.scss */
.bookR {
  width: 250px;
  float: left;
  margin-top: 130px;
  margin-left: 55px;
}

/* line 159, sass/kids.scss */
.dashedline {
  border-top: 1px dashed black;
  height: 1px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
}

/* line 168, sass/kids.scss */
.btnA, .btnB, .btnC {
  background: url("../imgs/btn-a.png") 0 0 no-repeat;
  width: 250px;
  height: 39px;
  padding-top: 30px;
  padding-left: 90px;
  font-size: 21px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 179, sass/kids.scss */
.btnB {
  background: url("../imgs/btn-b.png") 0 0 no-repeat;
}

/* line 183, sass/kids.scss */
.btnC {
  background: url("../imgs/btn-c.png") 0 0 no-repeat;
}

/* line 187, sass/kids.scss */
.btnA:hover, .btnB:hover, .btnC:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  color: #c35154;
}

/* line 192, sass/kids.scss */
#btnNext, #btnSubmit {
  background: url("../imgs/btn-next.png") 0 0 no-repeat;
  width: 112px;
  height: 55px;
  z-index: 22;
  position: absolute;
  top: 50%;
  margin-top: 35px;
  left: 50%;
  margin-left: 300px;
  cursor: pointer;
  -webkit-transition: color 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: color 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: color 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: color 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 207, sass/kids.scss */
#btnNext:hover, #btnSubmit:hover {
  color: #fff3da;
}

/* line 213, sass/kids.scss */
#btnSubmit {
  background: url("../imgs/btn-submit.png") 0 0 no-repeat;
  width: 112px;
  display: inline;
  margin-top: 240px;
  margin-left: 200px;
  opacity: 0.5;
}

/* line 222, sass/kids.scss */
.bgBook {
  background: url("../imgs/bookBG.png") 0 0 no-repeat;
  width: 668px;
  height: 485px;
  position: absolute;
}

/* line 229, sass/kids.scss */
.bgParacute {
  background: url("../imgs/paracute-big.png") 0 0 no-repeat;
  width: 493px;
  height: 484px;
  position: absolute;
  left: 50px;
  top: -400px;
}

/* line 238, sass/kids.scss */
#patchCharater {
  background: url("../imgs/patch.png") 0 0 no-repeat;
  width: 244px;
  height: 244px;
  position: absolute;
  left: 30px;
  bottom: -20px;
  z-index: 21;
  opacity: 0;
}

/* line 250, sass/kids.scss */
#charact1, #charact2, #charact3, #charact4 {
  background: url("../imgs/char-1.png") 0 0 no-repeat;
  width: 241px;
  height: 258px;
  position: absolute;
  bottom: -30px;
  left: 30px;
  pointer-events: none;
  z-index: 32;
  display: none;
}

/* line 262, sass/kids.scss */
#charact2 {
  background: url("../imgs/char-2.png") 0 0 no-repeat;
  width: 241px;
  height: 258px;
  bottom: -30px;
  left: 130px;
}

/* line 270, sass/kids.scss */
#charact3 {
  background: url("../imgs/char-3.png") 0 0 no-repeat;
  width: 241px;
  height: 258px;
  bottom: 0px;
  left: 50px;
}

/* line 278, sass/kids.scss */
#charact4 {
  background: url("../imgs/char-4.png") 0 0 no-repeat;
  width: 401px;
  height: 258px;
  bottom: -50px;
  left: -40px;
}

/* line 286, sass/kids.scss */
#btn-restart {
  background: url("../imgs/btn-start.png") 0 0 no-repeat;
  width: 85px;
  height: 85px;
  position: absolute;
  z-index: 22;
  top: 30px;
  left: 30px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: -o-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 299, sass/kids.scss */
#btn-restart:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff3da;
}

/* line 305, sass/kids.scss */
.btn-welcome {
  background: url("../imgs/btn_welcome.png") 0 0 no-repeat;
  width: 232px;
  height: 55px;
  padding-top: 18px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

/* line 317, sass/kids.scss */
.btn-welcome:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #fff3da;
}

/* line 323, sass/kids.scss */
#fade, #fadeTop {
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  display: none;
}

/* line 334, sass/kids.scss */
#fadeTop {
  z-index: 33;
}

/* line 337, sass/kids.scss */
#tabs {
  width: 242px;
  height: 38px;
  border-top: 1px dashed white;
  position: absolute;
  left: 50%;
  margin-left: -121px;
  bottom: 20px;
  z-index: 10;
  opacity: 0;
  z-index: 30;
}

/* line 351, sass/kids.scss */
#pg1, #pg2, #pg3 {
  position: absolute;
  left: 87px;
  top: 20px;
  border: 1px solid white;
  height: 17px;
  width: 17px;
  -webkit-border-radius: 15px 15px;
  -moz-border-radius: 15px / 15px;
  border-radius: 15px / 15px;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

/* line 362, sass/kids.scss */
#pg2 {
  left: 112px;
}

/* line 366, sass/kids.scss */
#pg3 {
  left: 137px;
}

/* line 370, sass/kids.scss */
.bgRed {
  background: #c35154;
}

/* line 374, sass/kids.scss */
.logo {
  background: url("../imgs/logo.png") 0 0 no-repeat;
  width: 459px;
  height: 186px;
  margin: auto;
  margin-top: 20px;
}

/* line 382, sass/kids.scss */
.clear {
  clear: both;
  margin: 0px;
}

/* line 387, sass/kids.scss */
.margT {
  margin-top: 20px;
}

/* line 388, sass/kids.scss */
.margB {
  margin-bottom: 20px;
}

/* line 390, sass/kids.scss */
a:link {
  color: #c35154;
}

/* unvisited link */
/* line 391, sass/kids.scss */
a:visited {
  color: #c35154;
}

/* visited link */
/* line 392, sass/kids.scss */
a:hover {
  color: #ffa2a8;
}

/* mouse over link */
/* line 393, sass/kids.scss */
a:active {
  color: #c35154;
}

/* selected link */
