@import "base";
@import "animation";
@import "txt";
@import "form";
// @import "animation/animate";
// @import "animation/animate/classes";

// LOVED BY KIDS STYLING ::::::::

body{
	//background: $billyBlue;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	font-family:billyregular;
	font-size:21px;
	overflow:hidden;
}

#wrapper{
	width:100%;
	height:2000px;
	overflow:hidden;
	background: url('../imgs/blue.png') ; 
}

#welcome, #thankyou{

	width:980px;
	left:50%;
	top:50%;
	margin-left:-490px;
	margin-top:-230px;
	position:absolute;
	z-index: 2;
	text-align:center;
	color:white;
	display:inline;
}
#thankyou{
	display:none;
}

#spiral{
	background: url('../imgs/spiral.png') 0 0 no-repeat; 
	background-size: 100% 100%;
	background-position: center;
	width:2000px;
	height:2000px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-950px;
	margin-left:-1000px;
	opacity: 1;
}




#intro{
	// background: url('../imgs/balloon.png') 0 0 no-repeat; 
	width:100%;
	height: 100%;
	// left:50%;
	// top:50%;
	// margin-left:-490px;
	// margin-top:-300px;
	position: absolute;
	z-index: 1;
	//opacity: 0;
}

#Q1, #Q2, #Q3{
	width:668px;
	height: 485px;
	left:50%;
	top:50%;
	margin-left:-334px;
	margin-top:-262px;
	position: absolute;
	z-index:11;
	font-family:billyregular;
	// display:none;
}


#A1, #A2, #A3, #formBox{
	background: url('../imgs/resultBG.png') 0 0 no-repeat; 
	width:767px;
	height:560px;
	position: absolute;
	z-index:12;
	left:50%;
	top:50%;
	margin-left:-380px;
	margin-top:-340px;
	font-family:billyregular;
	text-align:center;
	// display:none;
}

#formBox{
	//display:inline;
}

.anserText{
	width:480px;
	margin:auto;
	margin-top:180px;
	font-size:21px;
	padding-left:20px;
}

.answer-info{
	float:left;
	width:250px;
	text-align:left;
	font-size:24px;
	line-height:30px;
	margin-left:20px;
}

.answer-foot{
	width:450px;
	margin:auto;
	font-size:21px;
	padding-left:20px;
	color:$billyGrey;
}

.percentBall{
	background: url('../imgs/percentball.png') 0 0 no-repeat; 
	background-position: 16px 0px;
	width:161px;
	height:102px;
	text-align:center;
	color:white;
	font-size:70px;
	padding-top:40px;
	float:left;
}


.bookL{
	width:250px;
	float:left;
	margin-top:150px;
	margin-left:45px;
}
.bookR{
	width:250px;
	float:left;
	margin-top:130px;
	margin-left:55px;
}

.dashedline{
	border-top: 1px dashed black;
	height: 1px;
	width:90%;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:5%;
}

.btnA, .btnB, .btnC{
	background: url('../imgs/btn-a.png') 0 0 no-repeat; 
	width:250px;
	height: 39px;
	padding-top:30px;
	padding-left:90px;
	font-size:21px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.btnB{
	background: url('../imgs/btn-b.png') 0 0 no-repeat; 
}

.btnC{
	background: url('../imgs/btn-c.png') 0 0 no-repeat; 
}

.btnA:hover, .btnB:hover, .btnC:hover{
	@include transform(scale(1.05));
	color:$billyRed;
}

#btnNext, #btnSubmit{
	background: url('../imgs/btn-next.png') 0 0 no-repeat; 
	width:112px;
	height:55px;
	z-index:22;
	position: absolute;
	top:50%;
	margin-top:35px;
	left:50%;
	margin-left:300px;
	
	cursor: pointer;
	@include transition(color .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

#btnNext:hover, #btnSubmit:hover{
	//@include transform(scale(1.1));
	color:$creamLite;
}


#btnSubmit{
	background: url('../imgs/btn-submit.png') 0 0 no-repeat; 
	width:112px;
	display:inline;
	margin-top:240px;
	margin-left: 200px;
	opacity: 0.5;
}

.bgBook{
	background: url('../imgs/bookBG.png') 0 0 no-repeat; 
	width:668px;
	height: 485px;
	position: absolute;
}

.bgParacute{
	background: url('../imgs/paracute-big.png') 0 0 no-repeat; 
	width:493px;
	height: 484px;
	position: absolute;
	left:50px;
	top:-400px;
}

#patchCharater{
	background: url('../imgs/patch.png') 0 0 no-repeat; 
	width:244px;
	height:244px;
	position:absolute;
	left:30px;
	bottom: -20px;
	z-index: 21;
	opacity: 0;
	//display:none;
}

#charact1, #charact2, #charact3, #charact4{
	background: url('../imgs/char-1.png') 0 0 no-repeat; 
	width:241px;
	height: 258px;
	position: absolute;
	bottom:-30px;
	left: 30px;
	pointer-events:none;
	z-index:32;
	display:none;
}

#charact2{
	background: url('../imgs/char-2.png') 0 0 no-repeat; 
	width:241px;
	height: 258px;
	bottom:-30px;
	left: 130px;
}

#charact3{
	background: url('../imgs/char-3.png') 0 0 no-repeat; 
	width:241px;
	height: 258px;
	bottom:0px;
	left: 50px;
}

#charact4{
	background: url('../imgs/char-4.png') 0 0 no-repeat; 
	width:401px;
	height: 258px;
	bottom:-50px;
	left: -40px;
}

#btn-restart{
	background: url('../imgs/btn-start.png') 0 0 no-repeat; 
	width:85px;
	height:85px;
	position: absolute;
	z-index: 22;
	top: 30px;
	left:30px;
	cursor: pointer;
	opacity: 0;
	@include transition(transform .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

#btn-restart:hover{
	@include transform(scale(1.1));
	color:$creamLite;
}


.btn-welcome{
	background: url('../imgs/btn_welcome.png') 0 0 no-repeat; 
	width:232px;
	height:55px;
	padding-top:18px;
	text-align:center;
	margin:auto;
	margin-top: 50px;
	cursor: pointer;
	@include transition(all .4s cubic-bezier(0.175, 0.885, 0.320, 2) );
}

.btn-welcome:hover{
	@include transform(scale(1.1));
	color:$creamLite;
}


#fade, #fadeTop{
	background: black;
	opacity: 0.5;
	width:100%;
	height:100%;
	position: absolute;
	z-index:10;
	pointer-events:none;
	opacity:0;
	display:none;
}
#fadeTop{
	z-index:33;
}
#tabs{
	// background: url('../imgs/tabs.png') 0 0 no-repeat; 
	width:242px;
	height:38px;
	border-top : 1px dashed white;
	position: absolute;
	left:50%;
	margin-left:-121px;
	bottom: 20px;
	z-index:10;
	opacity: 0;
	z-index:30;
}

#pg1, #pg2, #pg3{
	position:absolute;
	left:87px;
	top:20px;
	border: 1px solid white;
	height: 17px;
	width:17px;
	@include border-radius(15px, 15px); 
	@include transition(all .8s linear );
}

#pg2{
	left:112px;
}

#pg3{
	left:137px;
}

.bgRed{
	background:$billyRed;
}

.logo{
	background: url('../imgs/logo.png') 0 0 no-repeat; 
	width:459px;
	height:186px;
	margin:auto;
	margin-top: 20px;
}

.clear{
	clear:both;
	margin:0px;
}

.margT{margin-top:20px;}
.margB{margin-bottom:20px;}

a:link {	color:$billyRed;		}      /* unvisited link */
a:visited {	color:$billyRed;	}  /* visited link */
a:hover {	color:$billyRed*2;	}  /* mouse over link */
a:active {	color:$billyRed;	}  /* selected link */