@import "base";

// LOVED BY KIDS STYLING ::::::::


h1{
	font-size:48px !important;
}

h2{
	font-size:48px !important;
	margin-bottom:20px;
}

.txt-sub{
	font-size:21px;
}

.txt-shadow-green{
	text-shadow: 2px 2px 2px #3c777f; 
}

.txt-title{
	font-size:36px;
	color: $billyRed;
	text-align:center;
	margin-bottom:20px;
}

.txt-title-ans{
	font-size:48px;
	color: $billyRed;
	text-align:center;
	margin-bottom:20px;
}

.txt-ques{
	font-size:21px;
	color: black;
	text-align:center;
}

.txt-red{
	color:$billyRed;
}