  <section id="A<%= id %>">
    <div class="anserText">
      <p class="txt-title-ans"><%= title %> <span id="a1result"><%= answer %></span></p>
      <p class="dashedline"></p>
      <p class="percentBall"><%= percent %></div>
      <p class="txt-red answer-info"><%= desc %></p>
      <div class="clear"></div>
        <div class="answer-foot">
            <p class="dashedline"></p>
            <p><%= note %></p>
        </div>
      </div>

      <div id="btnNext" class="btnNext"></div>
  </section>  