  <section id="formBox">
    <div class="anserText">
      <p class="txt-title-ans">THANK YOU!</p>
      <p class="dashedline"></p>
      <p>If you would like to find out more about Story Station and be in with a chance of winning 1 of 3 free annual licenses, please fill out the form below and click submit.</p>
      
      <div class="inputs">
      <form id="form" action="php/submit.php" method="post">
        <input type="hidden" name="q1input" id="q1input" value="">
          <input type="hidden" name="q2input" id="q2input" value="">
            <input type="hidden" name="q3input" id="q3input" value="">

        <div class="inputimg inputL"><input name="firstName" type="text" class="topcoat-text-input" placeholder="First name" id="name_first"></div>
        <div class="inputimg inputL"><input name="lastName" type="text" class="topcoat-text-input"placeholder="Last name" id="name_last"></div>
        <div class="inputimg inputL"><input name="school" type="text" class="topcoat-text-input" placeholder="School" id="school"></div>
        <div class="inputimg inputL"><input name="email" type="text" onBlur="app.validate()"  class="topcoat-text-input" placeholder="Email" id="email"></div>
        <div id="valid"></div>
        <div class="clear"></div>
      </div>

      <div id="terms"> <input type="checkbox" id="c1" name="cc" /><label for="c1"><span></span></label> I accept the <a href="#" id="termsLink">terms &amp; conditions</a></div>
    </div>
       <input type="submit" value="" id="btnSubmit" disabled>
   </form>
  </section>