  <section id="Q<%= id %>">
    <div class="bgParacute"></div>
    <div class="bgBook">

      <div class="bookL">
        <p class="txt-title"><%= title %> </p>
        <p class="dashedline"></p>
        <p class="txt-ques"><%= desc %> </p>
      </div>

      <div class="bookR">
        <p class="btnA" id="q1a" data-answer="A"> <%= Q1 %> </p>
        <p class="dashedline"></p>
        <p class="btnB" id="q1b" data-answer="B"> <%= Q2 %> </p>
        <p class="dashedline"></p>
        <p class="btnC" id="q1c" data-answer="C"> <%= Q3 %> </p>
      </div>

    </div>
  </section>