  <div id="welcome">
      <h1 class="txt-shadow-green">TAKE PART IN OUR <br>TEACHERS AND TECH SURVEY!</h1>
      <div class="txt-sub txt-shadow-green">This year, we're asking teachers to give their opinion on key matters surrounding technology <br>in the classroom. Take part in our short survey to share your thoughts and discover what <br>over 70 other teachers had to say.</div>
      <div class="logo" id="logoInt"></div>
      <div class="btn-welcome" id="btn-welcome">LET'S GET STARTED</div>
  </div>